{% extends "index.html" %}

{% block title %}
Home
{% endblock %}


{% block head %}
<link rel="stylesheet" href="static/bootstrap.min.css" type="text/css">
<style>
	* {box-sizing: border-box;}
	ul {list-style-type: none;}
	body {font-family: Verdana, sans-serif;}

	.month {
	    padding: 70px 25px;
	    width: 100%;
	    background: #1abc9c;
	    text-align: center;
	}

	.month ul {
	    margin: 0;
	    padding: 0;
	}

	.month ul li {
	    color: white;
	    font-size: 20px;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	}

	.month .prev {
	    float: left;
	    padding-top: 10px;
	}

	.month .next {
	    float: right;
	    padding-top: 10px;
	}

	.weekdays {
	    margin: 0;
	    padding: 10px 0;
	    background-color: #ddd;
	}

	.weekdays li {
	    display: inline-block;
	    width: 13.6%;
	    color: #666;
	    text-align: center;
	}

	.days {
	    padding: 20px 0;
	    background: #eee;
	    margin: 0;
	}

	.days li {
	    list-style-type: none;
	    display: inline-block;
	    width: 13.6%;
	    text-align: center;
	    margin-bottom: 5px;
		padding: 10px;
	    font-size:14px;
	    color: #777;
	}

	.days li .active {
	    padding: 10px;
	    background: #1abc9c;
	    color: white !important
	}

	/* Add media queries for smaller screens */
	@media screen and (max-width:720px) {
	    .weekdays li, .days li {width: 13.1%;}
	}

	@media screen and (max-width: 420px) {
	    .weekdays li, .days li {width: 12.5%;}
	    .days li .active {padding: 2px;}
	}

	@media screen and (max-width: 290px) {
	    .weekdays li, .days li {width: 12.2%;}
	}
	</style>
{% endblock %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mini Calendar</a>
      </li>
	  </ul>
  </div>
</nav>




<!--
<div class="container">
	<button type="button" class="btn btn-default">Shop</button>
	<button type="button" class="btn btn-default">Stats</button>
	<button type="button" class="btn btn-default">Mini Calendar</button>
</div>
	  -->

<h3>Add Tasks/Reminders</h3>
<br>
<form action="/submitted" method="POST">
  <textarea name="task" rows="10" cols="20" style="padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffc;
    font-size: 16px;
    font-color: #666;
    resize: none;">Enter a new task/reminder</textarea>
  <br>
  Date: <input type="date" name="taskdate">
  <input type="submit" value="Add Task">
  </form>
  
  <div class="month">      
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>
        August<br>
        <span style="font-size:18px">2017</span>
      </li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>

  <ul class="days">  
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li><span class="active">10</span></li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
  </ul>
{% endblock %}
