<!DOCTYPE html>
<html style="height: 100%">
<head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/custom.css" type="text/css">
  <title>Leaderboard</title>
  <script src="../static/d3.v4.min.js"></script>
  <script src="../static/jquery-3.3.1.min.js"></script>
  <style> /* set the CSS */

    .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    }
    
  </style>
</head>
<body
   {% block background %}
   style="height: 100%; background-image:
	  url({{url_for('static', filename='covered.jpg')}})"
   {% endblock %}>

  <!-- TOP BAR =================================== -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">ORGANIZER</a>


    <!-- left part of navbar -->
    <ul class="navbar-nav navbar-left">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      {% if loggedin %}
      <li class="nav-item ">
        <a class="nav-link" href="/tasks">Tasks</a>
      </li>
       <li class="nav-item ">
            <a class="nav-link" href="/shopping">Shop</a>
          </li>
      <li class="nav-item ">
        <a class="nav-link" href="/leaderboard">Leaderboard</a>
      </li>
    </ul>

    <!-- right part of navbar -->
    <ul class= "nav navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/account/logout" ><button class="btn btn-outline-success my-2 my-sm-0 nav_button" >Logout</button> </a>
      </li>
    </ul>

    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/create">Join</a>
    </li>
</ul>

<ul class = "nav navbar-nav ml-auto">
  <li class = "nav-item">
    <a href="/login" ><button class="btn btn-outline-success my-2 my-sm-0">Login</button> </a>
  </li>
</ul>

{% endif %}
</nav><br>
<h3>Completed Tasks</h3>
{% if show == "False" %}
<script>

  // set the dimensions and margins of the graph
  var margin = {top: 20, right: 20, bottom: 30, left: 50},
  width = 960 - margin.left - margin.right,
  height = 500 - margin.top - margin.bottom;

  // parse the date / time
  var parseTime = d3.timeParse("%d-%b-%y");

  // set the ranges
  var x = d3.scaleTime().range([0, width]);
  var y = d3.scaleLinear().range([height, 0]);

  // define the line
  var valueline = d3.line()
  .x(function(d) { return x(d.date); })
  .y(function(d) { return y(d.tasks); });

  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  var svg = d3.select("body").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform","translate(" + margin.left + "," + margin.top + ")");


  //data=[{date:"12-Apr-18",tasks:5},{date:"13-Apr-18",tasks:6},{date:"14-Apr-18",tasks:5},{date:"15-Apr-18",tasks:1},{date:"16-Apr-18",tasks:5},{date:"17-Apr-18",tasks:6},{date:"18-Apr-18",tasks:15},{date:"19-Apr-18",tasks:6},{date:"20-Apr-18",tasks:5},{date:"21-Apr-18",tasks:6},{date:"22-Apr-18",tasks:5},{date:"23-Apr-18",tasks:6},{date:"24-Apr-18",tasks:5},{date:"25-Apr-18",tasks:6},{date:"26-Apr-18",tasks:5},{date:"27-Apr-18",tasks:6}]


  $.get("/getpythondata", function(d) {
  var data = $.parseJSON(d);
  console.log(data);

  // Get the data

  // format the data
  data.forEach(function(d) {
  d.date = parseTime(d.date);
  d.tasks = +d.tasks;
  });

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.tasks; })]);

  // Add the valueline path.
  svg.append("path")
  .data([data])
  .attr("class", "line")
  .attr("d", valueline);

  // Add the X Axis
  svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
  .call(d3.axisLeft(y));
  })

</script>
{% else %}
<br>
<h5 style="color:red;">Please select a valid month</h5>
{% endif %}
<br><br>
<p>Generate graph for (Month, Year)</p>
<form method="POST" action="/leaderboard">
<select name="month">
  <option value="Jan">January</option>
  <option value="Feb">February</option>
  <option value="Mar">March</option>
  <option value="Apr">April</option>
  <option value="May">May</option>
  <option value="Jun">June</option>
  <option value="Jul">July</option>
  <option value="Aug">August</option>
  <option value="Sep">September</option>
  <option value="Oct">October</option>
  <option value="Nov">November</option>
  <option value="Dec">December</option>
</select>
<select name="year">
  <option value="eighteen">18</option>
</select>
<input type="submit" name="form" value="Submit" class="btn btn-outline-primary">
</form>
</body>
</html>
